<div class="result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends.present? %>
  <div class="card card-header result-block">
    <table class="col-md-12">
      <tbody>
      <% @friends.each do |friend| %>
        </tbody>
        <tr>
          <td><strong> Имя: </strong> <%= friend.first_name %></td>
          <td><strong> Фамилия: </strong> <%= friend.last_name %></td>
          <td><strong> Email: </strong> <%= friend.email %></td>
          <td><strong> Действия: </strong>
            <%= link_to "см.Профиль", user_path(friend), class: "btn btn-sm btn-success" %>
            <!--            Проверяем есть ли уже в друзьях этот объект-->
            <% if current_user.not_friends_with?(friend.id) %>
              <!--              Если нет, то вставляем кнопку-->
<!--              Т.к. по ссылке на friendship иетодом post мы не можем предеать IDБ то передаем в скобках параметр с присвоеным зщначение-->
              <%= link_to "Добавить в друзья", friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post %>
              <!--              Если есть, то пишем сообщение-->
            <% else %>
              <span class='badge badge-primary'>Вы друзья</span>
            <% end %>
          </td>
      <% end %>
      </tr>
      </table>
  </div>
<% end %>