<div class="result-block">

  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header result-block">
    <strong>Название: </strong> <%= @stock.ticker %>
    <strong>Компания: </strong> <%= @stock.name %>
    <strong>Цена: </strong> <%= @stock.last_price %>

    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to "Добавить в портфель", user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-sm btn-success", method: :post %>
    <% else %>
      <span class="badge badge-secondary">
      Вы уже отслеживаете
        <% if !current_user.under_stock_limit? %>
      максимум (10 Акций)
        <% end %>
        <% if current_user.stock_already_tracked?(@stock.ticker) %>
        эти акции
          </span>
    <% end %>
    <% end %>
  </div>
<% end %>
